*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

.container {
	display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


.card{
  width:calc(100% / 3 -5px );
}

.product {
  width: 440px;
  height: 700px;
  margin: 40px 5px;
  position: relative;
}

#immagine{
  width: 440px;
  height: 640px;
  background-size: contain;
}


#immagine-hover{
  width: 440px;
  height: 640px;
  background-size: contain;

}



#immagine:hover{
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.heart {
  font-size: 2rem;
  position: absolute;
  top: 5px;
  right: 0px;
  background-color: white;
  padding: 5px 5px;
}

.discount  {
  position: absolute;
  bottom: 90px;
  left: 0px;
  background-color: red;
  padding: 4px 8px;
  font-size: 10px;
  color: white;
}

.eco  {
  position: absolute;
  bottom: 90px;
  left: 45px;
  background-color: green;
  padding: 2px 8px;
  font-size: 12px;
  color: white;
}

.eco-p {
  position: absolute;
  bottom: 90px;
  left: 0px;
  background-color: green;
  padding: 2px 8px;
  font-size: 12px;
  color: white;
}

.testo{
  line-height: 1.1;
  font-size: 14px;
}

.testo figcaption{
  color: rgb(157, 134, 96);

}

.costo{
  color: red;
  text-decoration: bold;
}

.ex-costo{
  text-decoration: line-through;
}
